<template name="board_view_list">
    <div id="board_list_{{_id}}" class="list ui-draggable ui-droppable">
        <div class="header ui-droppable">
            {{>board_list_name}}
        </div>
        <div class="cardoverflow" style="height: auto;">
            <div class="cards">
                {{#each card_list}}
                    {{> board_card_item}}
                {{/each}}
            </div>
            <div class="newcardform">
            {{#if show_new_card_form}}
                {{> new_card_form}}
            {{/if}}
            </div>
        </div>
        {{#if can_edit}}
            <div class="newcard muted">Add a card...</div>
        {{/if}}
    </div>
</template>

<template name="board_list_name">
    <span class="name">
    {{#if edit_name}}
        <form class="form-horizontal">
            <input class="input-small listname" type="text" value="{{name}}" name="name">
            <input class="btn btn-info save" type="submit" value="Save">
            <a class="close" href="#">×</a>
        </form>
    {{else}}
        {{name}}
        {{#if can_edit}}
            <a class="close remove_list" href="#">×</a>
        {{/if}}
    {{/if}}
    </span>
</template>

<template name="board_card_item">
    <div id="board_card_id" class="task ui-draggable ui-droppable">
        <span class="description">{{name}}</span>
        <ul class="pull-right inline onetaskmembers">
        </ul>
        <div class="clear"></div>
    </div>
</template>

<template name="board_new_list">
    <div id="board-new-list-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>New List</h3>
        </div>
        <div class="modal-body">
            <form id="board-form" class="form-horizontal">
            {{#isolate}}
            <div class="control-group {{#if modal_form_errors}}error{{/if}}">
                <label class="control-label" for="listname">List name</label>
                <div class="controls">
                    <input type="text" id="listname" name="listname" placeholder="list name" />
                    <a class="btn btn-success save" href="#">Add</a>
                    <span class="help-inline">{{modal_form_errors}}</span>
                </div>
            </div>
            {{/isolate}}
            </form>
        </div>
        <div class="modal-footer">
            <button id="new-list-close" class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</template>

<template name="new_card_form">
    <form class="form">
        <div class="description">
        <textarea id="add_task_description" name="description"></textarea>
        </div>
        <a class="btn btn-info save">Add</a>
        <a href="#" class="close">&times;</a>
    </form>
</template>