<template name="footer">
    <footer id="footer">
        <div class="row-fluid">
            <div class="span12">
                <p class="muted">
                    Powered by <a href="https://meteor.com">Meteor</a>,
                    <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,
                    <a href="http://wadobo.com">Wadobo Labs</a>
                    <br>Licenced under AGPLv3, get the <a href="https://github.com/wadobo/kanllo">code</a>
                </p>
                <a href="http://wadobo.com">
                    <img id="wadobo-labs" alt="powered by wadobolabs" src="/wadobolabs.png">
                </a>
            </div>
        </div>
    </footer>
</template>